<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel</title>
  </head>
  <body>
    <h1>Enter the details of Parcel</h1>

    <form action="/parcel" method="post">
      <label for="length">Enter Length:</label>
      <input id="length" name="length" type="text"><br><br>
      <label for="width">Enter Width</label>
      <input id="width" name="width" type="text"><br><br>
      <label for="height">Enter height</label>
      <input id="height" name="height" type="text"><br><br>
      <label for="weight">Enter weight</label>
      <input id="weight" name="weight" type="text"><br><br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>